body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* reset css */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button {
  width: 200px;
  height: 100px;
  color: brown;
  border: 1px solid brown;
  padding: 1em;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: color 1s ease, border-color 1s ease;
}

button:hover {
  color: burlywood;
  border-color: burlywood;
}

button::before {
  top: 0;
  left:0;
  content: 'YES';
  width: 100%;
  height: 100%;
  background-color: brown;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

button:hover::before {
  width: 100%;
  transform: translateY(0);
}

