h3,
p {
  margin: 0;
}

.container {
  display: flex;
  gap: 1rem;
}

.divider {
  position: relative;
  width: 2px;
  height: 0;
  left: 0;
  background-color: #dbdee1;
  margin-left: 205px;
}

.progress-bar {
  position: absolute;
  transition: height 0.6s ease-out;
  background-color: #297fff;
  width: 2px;
  left: 0;
  height: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.card {
  position: relative;
}

.card .left-point {
  height: 10px;
  width: 10px;
  background: #dbdee1;
  position: absolute;
  left: 0;
}

.card .left-point.active {
  background-color: #297fff;
}

.card .left-point.emphasis::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(41, 127, 255, 0.4);
  left: 0;
}

.card .body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
