body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* reset css */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 3px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: cadetblue;
  position: relative;
}

button::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 90px;
  top: -15px;
  left: 0;
  border-left: 2px solid red;
  border-right: 2px solid yellowgreen;
  transition: all 0.4s;
}

button::after {
  content: "";
  position: absolute;
  width: 230px;
  height: 60px;
  top: 0;
  left: -15px;
  border-top: 2px solid red;
  border-bottom: 2px solid yellowgreen;
  transition: all 0.4s;
  transition-delay: 0.4s;
}

button:hover:before {
  transform: rotateY(180deg);
}

button:hover:after {
  transform: rotateX(180deg);
}