.box {
  margin: 250px;
  width: 500px;
  height: 200px;
  transition: background-color 0.3s ease, transform 1s ease 0.3s;
}

.box:hover {
  background-color: cyan;
  transform: rotate(1turn) skew(-20deg);
}

.hanging-box {
  /* transform-origin: 50% 50%; */ /* default */
  transform-origin: top left;
}